<img src="{{ "images/image1.png"| relative_url }}" class="rounded-circle w-24 h-24 mx-auto mb-3" alt="Sunil Sarolkar" />
<h3 class="text-center font-bold text-xl">Sunil Sarolkar</h3>
<h4 class="text-center italic text-gray-500 dark:text-gray-400 mb-4">Loves developing software</h4>

<div class="text-center">
  <div id="tag-cloud" class="flex flex-wrap justify-center gap-3 text-base">
    {% assign tags_sorted = site.tags | sort %}
    {% for tag in tags_sorted %}
      {% assign tag_name = tag[0] %}
      {% assign tag_count = tag[1].size %}
      <a href="{{ site.baseurl }}/tag/{{ tag_name | slugify }}/" 
         class="tag-item hover:scale-110 transition-transform duration-300"
         style="font-size: {{ 0.8 | plus: tag_count | times: 0.2 }}rem;">
        {{ tag_name }} ({{ tag_count }})
      </a>
    {% endfor %}
  </div>
</div>
