<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
  <div id="snackbar" class="alert-primary">...</div>
  <div id="myModalSmall" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" id="mySmallModalLabelContent">
        ...
      </div>
    </div>

  </div>
<span id="successAlert"></span>
    {% include header.html %}


    <div class="container text-xs-center text-md-left">
        {{ content }}
    </div>
      
    {% include footer.html %}

  </body>

</html>
