<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

      
      <div class="container" style="background-color: whitesmoke">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        {{ content }}
          </div>
          <!--<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
              {% include sidebar.html %}
          </div>-->
      </div>
      
    {% include footer.html %}

  </body>

</html>
