---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<script type="application/javascript">
    
var tags=new Array();
$.ajax({url: "https://api.stackexchange.com/2.2/users/138604/top-answer-tags?site=stackoverflow", success: function(result){
        var tagsFroSO=eval(result);

    
      for(var i=0;i<tagsFroSO.items.length;i++){
            if(i==0){
                alert(tagsFroSO.items[i].tag_name);
            }
            tags.push(tagsFroSO.items[i].tag_name);
            
        }
    }});
</script>